{% extends 'app/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/my_orders.css' %}">
{% endblock %}

{% block content %}

<section class="orders-page">

    <div class="orders-header">

        <span>YOUR ORDERS</span>

        <h1>Order History</h1>

        <p>
            View and track your luxury fragrance purchases.
        </p>

    </div>

    <div
        class="orders-list"
        id="ordersList">

    </div>

</section>

<script src="{% static 'js/my_orders.js' %}"></script>

{% endblock %}